In [35]:
import pandas as pd
order = pd.read_table(r'menudata/meal_order_info.csv',
      sep = ',',encoding = 'gbk')
print('使用read_table读取的订单信息表的长度为：',len(order))

使用read_table读取的订单信息表的长度为： 945

In [5]:
## 使用read_csv读取订单信息表
order1 = pd.read_csv(r'menudata/meal_order_info.csv',
      encoding = 'gbk')
print('使用read_csv读取的订单信息表的长度为：',len(order1))

使用read_csv读取的订单信息表的长度为： 945

In [7]:
# 代码 4-5
## 使用read_table读取菜品订单信息表,sep = ';'
order2 = pd.read_table(r'menudata/meal_order_info.csv',
      sep = ';',encoding = 'gbk')
print('分隔符为;时订单信息表为：\n',order2)

分隔符为;时订单信息表为：
     info_id,"emp_id","number_consumers","mode","dining_table_id","dining_table_name","expenditure","dishes_count","accounts_payable","use_start_time","check_closed","lock_time","cashier_id","pc_id","order_number","org_id","print_doc_bill_num","lock_table_info","order_status","phone","name"
0    417,1442,4,NA,1501,1022,165,5,165,"2016/8/1 11...
1    301,1095,3,NA,1430,1031,321,6,321,"2016/8/1 11...
2    413,1147,6,NA,1488,1009,854,15,854,"2016/8/1 1...
3    415,1166,4,NA,1502,1023,466,10,466,"2016/8/1 1...
4    392,1094,10,NA,1499,1020,704,24,704,"2016/8/1 ...
..                                                 ...
940  641,1095,8,NA,1492,1013,679,12,679,"2016/8/31 ...
941  672,1089,6,NA,1489,1010,800,24,800,"2016/8/31 ...
942  692,1155,8,NA,1492,1013,735,10,735,"2016/8/31 ...
943  647,1094,4,NA,1485,1006,262,9,262,"2016/8/31 2...
944  570,1113,8,NA,1517,1038,589,13,589,"2016/8/31 ...

[945 rows x 1 columns]

In [6]:
## 使用read_csv读取菜品订单信息表,header=None
order3 = pd.read_csv(r'menudata/meal_order_info.csv',
      sep = ',',header = None,encoding = 'gbk')
print('订单信息表为：','\n',order3)

订单信息表为：
           0       1                 2     3                4   \
0    info_id  emp_id  number_consumers  mode  dining_table_id
1        417    1442                 4   NaN             1501
2        301    1095                 3   NaN             1430
3        413    1147                 6   NaN             1488
4        415    1166                 4   NaN             1502
..       ...     ...               ...   ...              ...
941      641    1095                 8   NaN             1492
942      672    1089                 6   NaN             1489
943      692    1155                 8   NaN             1492
944      647    1094                 4   NaN             1485
945      570    1113                 8   NaN             1517

                    5            6             7                 8   \
0    dining_table_name  expenditure  dishes_count  accounts_payable
1                 1022          165             5               165
2                 1031          321             6               321
3                 1009          854            15               854
4                 1023          466            10               466
..                 ...          ...           ...               ...
941               1013          679            12               679
942               1010          800            24               800
943               1013          735            10               735
944               1006          262             9               262
945               1038          589            13               589

                     9   ...                  11          12     13  \
0        use_start_time  ...           lock_time  cashier_id  pc_id
1     2016/8/1 11:05:36  ...   2016/8/1 11:11:46         NaN    NaN
2     2016/8/1 11:15:57  ...   2016/8/1 11:31:55         NaN    NaN
3     2016/8/1 12:42:52  ...   2016/8/1 12:54:37         NaN    NaN
4     2016/8/1 12:51:38  ...   2016/8/1 13:08:20         NaN    NaN
..                  ...  ...                 ...         ...    ...
941  2016/8/31 21:23:48  ...  2016/8/31 21:31:48         NaN    NaN
942  2016/8/31 21:24:12  ...  2016/8/31 21:56:12         NaN    NaN
943  2016/8/31 21:25:18  ...  2016/8/31 21:33:34         NaN    NaN
944  2016/8/31 21:37:39  ...  2016/8/31 21:55:39         NaN    NaN
945  2016/8/31 21:41:56  ...  2016/8/31 21:32:56         NaN    NaN

               14      15                  16               17            18  \
0    order_number  org_id  print_doc_bill_num  lock_table_info  order_status
1             NaN     330                 NaN              NaN             1
2             NaN     328                 NaN              NaN             1
3             NaN     330                 NaN              NaN             1
4             NaN     330                 NaN              NaN             1
..            ...     ...                 ...              ...           ...
941           NaN     330                 NaN              NaN             1
942           NaN     330                 NaN              NaN             1
943           NaN     330                 NaN              NaN             1
944           NaN     330                 NaN              NaN             1
945           NaN     330                 NaN              NaN             1

              19    20
0          phone  name
1    18688880641   苗宇怡
2    18688880174    赵颖
3    18688880276   徐毅凡
4    18688880231   张大鹏
..           ...   ...
941  18688880307    李靖
942  18688880305    莫言
943  18688880327   习一冰
944  18688880207   章春华
945  18688880313   唐雅嘉

[946 rows x 21 columns]

In [7]:
## 使用gbk解析菜品订单信息表
order4 = pd.read_csv(r'menudata/meal_order_info.csv',
      sep = ',',encoding = 'gbk')

In [9]:
# 代码 4-6
import os
print('订单信息表写入文本文件前目录内文件列表为：\n',
      os.listdir(r'menudata'))
## 将order以csv格式存储
order.to_csv(r'menudata/orderInfo.csv',sep = ';',index = False) 
print('订单信息表写入文本文件后目录内文件列表为：\n',
      os.listdir('menudata'))

订单信息表写入文本文件前目录内文件列表为：
 ['meal_order_detail.xlsx', 'meal_order_info.csv', 'orderInfo.csv', 'users.xlsx', '数据特征说明.xlsx']
订单信息表写入文本文件后目录内文件列表为：
 ['meal_order_detail.xlsx', 'meal_order_info.csv', 'orderInfo.csv', 'users.xlsx', '数据特征说明.xlsx']

In [12]:
# 代码 4-7
user = pd.read_excel(r'menudata/users.xlsx')## 读取user.xlsx文件
print('客户信息表长度为：',len(user))

客户信息表长度为： 734

In [13]:
# 代码 4-8
print('客户信息表写入excel文件前目录内文件列表为：\n',
      os.listdir(r'menudata'))
user.to_excel(r'menudata/userInfo.xlsx')
print('客户信息表写入excel文件后目录内文件列表为：\n',
      os.listdir('menudata'))

客户信息表写入excel文件前目录内文件列表为：
 ['meal_order_detail.xlsx', 'meal_order_info.csv', 'orderInfo.csv', 'users.xlsx', '数据特征说明.xlsx']
客户信息表写入excel文件后目录内文件列表为：
 ['meal_order_detail.xlsx', 'meal_order_info.csv', 'orderInfo.csv', 'userInfo.xlsx', 'users.xlsx', '数据特征说明.xlsx']

In [21]:
detail = pd.read_excel(r'menudata/meal_order_detail.xlsx')
print('使用read_csv读取的订单信息表的长度为：',len(detail))

使用read_csv读取的订单信息表的长度为： 2779

In [36]:
detail.head()

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id,date
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016-08-01 11:05:36,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442,2016-08-01
1,2958,417,609957,NaN,NaN,蒙古烤羊腿_x000D_\n_x000D_\n_x000D_\n,0,1,48,NaN,2016-08-01 11:07:07,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442,2016-08-01
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016-08-01 11:07:40,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442,2016-08-01
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-01 11:11:11,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442,2016-08-01
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016-08-01 11:11:30,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442,2016-08-01

In [22]:
print('订单详情表的维度为：', detail.ndim)
print('订单信息表的维度为：', order.ndim)
print('客户信息表的维度为：', user.ndim)

print('订单详情表的形状为：', detail.shape)
print('订单信息表的形状为：', order.shape)
print('客户信息表的形状为：', user.shape)

print('订单详情表的元素个数为：', detail.size)
print('订单信息表的元素个数为：', order.size)
print('客户信息表的元素个数为：', user.size)

订单详情表的维度为： 2
订单信息表的维度为： 2
客户信息表的维度为： 2
订单详情表的形状为： (2779, 19)
订单信息表的形状为： (945, 21)
客户信息表的形状为： (734, 37)
订单详情表的元素个数为： 52801
订单信息表的元素个数为： 19845
客户信息表的元素个数为： 27158

In [23]:
print('订单详情表counts和amounts两列的描述性统计为：\n',
      detail.loc[:, ['counts','amounts']].describe())

detail['order_id'] = detail['order_id'].astype('category')
detail['dishes_name'] = detail['dishes_name'].astype('category')
print('''订单信息表order_id(订单编号)与dishes_name(菜品名称)
的描述性统计结果为：''', '\n',
detail[['order_id','dishes_name']].describe())

订单详情表counts和amounts两列的描述性统计为：
             counts      amounts
count  2779.000000  2779.000000
mean      1.111191    45.337172
std       0.625428    36.808550
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000
订单信息表order_id(订单编号)与dishes_name(菜品名称)
的描述性统计结果为：
         order_id dishes_name
count       2779        2779
unique       278         154
top          392       白饭/大碗
freq          24          92

In [24]:
detailGroup = detail[['order_id','counts',
      'amounts']].groupby(by = 'order_id')
print('分组后的订单详情表为：',detailGroup)



# 代码 4-52
print('订单详情表分组后前5组每组的均值为：\n', 
      detailGroup.mean().head())

print('订单详情表分组后前5组每组的标准差为：\n', 
      detailGroup.std().head())

print('订单详情表分组后前5组每组的大小为：','\n', 
      detailGroup.size().head())

分组后的订单详情表为： <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E7831FB880>
订单详情表分组后前5组每组的均值为：
             counts    amounts
order_id
137       1.500000  32.333333
165       1.166667  52.944444
166       1.400000  48.200000
171       1.428571  36.285714
177       1.000000  34.250000
订单详情表分组后前5组每组的标准差为：
             counts    amounts
order_id
137       1.224745  35.200379
165       0.383482  52.193613
166       0.547723  41.829415
171       1.133893  19.267540
177       0.000000  15.019432
订单详情表分组后前5组每组的大小为：
 order_id
137     6
165    18
166     5
171     7
177     4
dtype: int64

In [27]:
import numpy as np

print('订单详情表的菜品销量与售价的和与均值为：\n',
      detail[['counts','amounts']].agg([np.sum,np.mean]))

订单详情表的菜品销量与售价的和与均值为：
            counts        amounts
sum   3088.000000  125992.000000
mean     1.111191      45.337172

In [28]:
# 代码 4-54
print('订单详情表的菜品销量总和与售价的均值为：\n',
      detail.agg({'counts':np.sum,'amounts':np.mean}))


# 代码 4-55
print('菜品订单详情表的菜品销量总和与售价的总和与均值为：\n',
      detail.agg({'counts':np.sum,'amounts':[np.mean,np.sum]}))

订单详情表的菜品销量总和与售价的均值为：
 counts     3088.000000
amounts      45.337172
dtype: float64
菜品订单详情表的菜品销量总和与售价的总和与均值为：
       counts        amounts
sum   3088.0  125992.000000
mean     NaN      45.337172

In [29]:
# 代码 4-56
##自定义函数求两倍的和
def DoubleSum(data):
    s = data.sum()*2
    return s
print('菜品订单详情表的菜品销量两倍总和为：','\n',
      detail.agg({'counts':DoubleSum},axis = 0))
      

# 代码 4-57
##自定义函数求两倍的和
def DoubleSum1(data):
    s = np.sum(data)*2
    return s
print('订单详情表的菜品销量两倍总和为：\n',
      detail.agg({'counts':DoubleSum1},axis = 0).head())

print('订单详情表的菜品销量与售价的和的两倍为：\n',
      detail[['counts','amounts']].agg(DoubleSum1))


# 代码 4-58
print('订单详情表分组后前3组每组的均值为：\n', 
      detailGroup.agg(np.mean).head(3))

print('订单详情表分组后前3组每组的标准差为：\n', 
      detailGroup.agg(np.std).head(3))



# 代码 4-59
print('订单详情分组前3组每组菜品总数和售价均值为：\n', 
      detailGroup.agg({'counts':np.sum,
            'amounts':np.mean}).head(3))



# 代码 4-60
print('订单详情表的菜品销量与售价的均值为：\n',
      detail[['counts','amounts']].apply(np.mean))


# 代码 4-61
print('订单详情表分组后前3组每组的均值为：','\n', detailGroup.apply(np.mean).head(3))
print('订单详情表分组后前3组每组的标准差为：','\n', detailGroup.apply(np.std).head(3))


# 代码 4-62
print('订单详情表的菜品销量与售价的两倍为：\n',
      detail[['counts','amounts']].transform(
            lambda x:x*2).head(4))



# 代码 4-63
print('订单详情表分组后实现组内离差标准化后前五行为：\n', 
      detailGroup.transform(lambda x:(x.mean()
            -x.min())/(x.max()-x.min())).head())

菜品订单详情表的菜品销量两倍总和为：
 counts    6176
dtype: int64
订单详情表的菜品销量两倍总和为：
    counts
0       2
1       2
2       2
3       2
4       2
订单详情表的菜品销量与售价的和的两倍为：
 counts       6176
amounts    251984
dtype: int64
订单详情表分组后前3组每组的均值为：
             counts    amounts
order_id
137       1.500000  32.333333
165       1.166667  52.944444
166       1.400000  48.200000
订单详情表分组后前3组每组的标准差为：
             counts    amounts
order_id
137       1.224745  35.200379
165       0.383482  52.193613
166       0.547723  41.829415
订单详情分组前3组每组菜品总数和售价均值为：
           counts    amounts
order_id
137            9  32.333333
165           21  52.944444
166            7  48.200000
订单详情表的菜品销量与售价的均值为：
 counts      1.111191
amounts    45.337172
dtype: float64
订单详情表分组后前3组每组的均值为：
             counts    amounts
order_id
137       1.500000  32.333333
165       1.166667  52.944444
166       1.400000  48.200000
订单详情表分组后前3组每组的标准差为：
             counts    amounts
order_id
137       1.118034  32.133402
165       0.372678  50.723074
166       0.489898  37.413367
订单详情表的菜品销量与售价的两倍为：
    counts  amounts
0       2       98
1       2       96
2       2       60
3       2       50

ZeroDivisionError: float division by zero

In [30]:
# 代码 4-65
dayMean = detailGroup.agg({'amounts':np.mean})
print('订单详情表前五组每日菜品均价为：\n',dayMean.head())

dayMedian = detailGroup.agg({'amounts':np.median})
print('订单详情表前五组每日菜品售价中位数为：\n',dayMedian.head())


# 代码 4-66
daySaleSum = detailGroup.apply(np.sum)['counts']
print('订单详情表前五组每日菜品售出数目为：\n',daySaleSum.head())

订单详情表前五组每日菜品均价为：
             amounts
order_id
137       32.333333
165       52.944444
166       48.200000
171       36.285714
177       34.250000
订单详情表前五组每日菜品售价中位数为：
           amounts
order_id
137          26.5
165          30.5
166          48.0
171          38.0
177          36.5
订单详情表前五组每日菜品售出数目为：
 order_id
137     9
165    21
166     7
171    10
177     4
Name: counts, dtype: int64

In [31]:
# 代码 4-68
detailPivot1 = pd.pivot_table(detail[[
      'order_id','counts','amounts']],
      index = 'order_id',aggfunc = np.sum)
print('以order_id作为分组键创建的订单销量与售价总和透视表为：\n',
       detailPivot1.head())


# 代码 4-69
detailPivot2 = pd.pivot_table(detail[[
      'order_id','dishes_name',
      'counts','amounts']],
      index = ['order_id','dishes_name'],
      aggfunc = np.sum)
print('以order_id和dishes_name作为分组键创建的订单\
销量与售价总和透视表为：\n',detailPivot2.head())



# 代码 4-70
detailPivot3 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      columns = 'dishes_name',
      aggfunc = np.sum)
print('以order_id和dishes_name作为行列分组键创建的\
透视表前5行4列为：\n',detailPivot3.iloc[:5,:4])

以order_id作为分组键创建的订单销量与售价总和透视表为：
           amounts  counts
order_id
137           194       9
165           953      21
166           241       7
171           254      10
177           137       4
以order_id和dishes_name作为分组键创建的订单销量与售价总和透视表为：
                       amounts  counts
order_id dishes_name
137       42度海之蓝            0       0
          北冰洋汽水             0       0
         38度剑南春             0       0
         50度古井贡酒            0       0
         52度泸州老窖            0       0
以order_id和dishes_name作为行列分组键创建的透视表前5行4列为：
             amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
137               0       0       0       0
165               0       0      80       0
166               0       0       0       0
171               0       0       0       0
177               0       0       0       0

In [32]:
# 代码 4-71
detailPivot4 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      values = 'counts',
      aggfunc = np.sum)
print('以order_id作为行分组键counts作为值创建的\
透视表前5行为：\n',detailPivot4.head())



# 代码 4-72
detailPivot5 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      columns = 'dishes_name',
      aggfunc = np.sum,fill_value = 0)
print('空值填0后以order_id和dishes_name为行列分组键\
创建透视表前5行4列为：\n',detailPivot5.iloc[:5,:4])



# 代码 4-73
detailPivot6 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      columns = 'dishes_name',
      aggfunc = np.sum,fill_value = 0,
      margins = True)
print('添加margins后以order_id和dishes_name为分组键\
的透视表前5行后4列为：\n',detailPivot6.iloc[:5,-4:])



# 代码 4-74
detailCross = pd.crosstab(
      index=detail['order_id'],
      columns=detail['dishes_name'],
      values = detail['counts'],aggfunc = np.sum)
print('以order_id和dishes_name为分组键\
counts为值的透视表前5行5列为：\n',detailCross.iloc[:5,:5])

以order_id作为行分组键counts作为值创建的透视表前5行为：
           counts
order_id
137            9
165           21
166            7
171           10
177            4
空值填0后以order_id和dishes_name为行列分组键创建透视表前5行4列为：
             amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
137               0       0       0       0
165               0       0      80       0
166               0       0       0       0
171               0       0       0       0
177               0       0       0       0
添加margins后以order_id和dishes_name为分组键的透视表前5行后4列为：
             counts
dishes_name 黄油曲奇饼干 黄花菜炒木耳 黑米恋上葡萄 All
order_id
137              0      0      0   9
165              0      1      0  21
166              0      0      0   7
171              0      0      0  10
177              0      0      0   4
以order_id和dishes_name为分组键counts为值的透视表前5行5列为：
 dishes_name   42度海之蓝   北冰洋汽水   38度剑南春   50度古井贡酒  52度泸州老窖
order_id
137                0        0        0        0         0
165                0        0        1        0         0
166                0        0        0        0         0
171                0        0        0        0         0
177                0        0        0        0         0

In [33]:
detail['place_order_time'] = pd.to_datetime(
      detail['place_order_time'])
detail['date'] = [i.date() for i in detail['place_order_time']]
PivotDetail = pd.pivot_table(detail[[
      'date','dishes_name','counts','amounts']],
      index ='date',aggfunc = np.sum,
      margins = True)
print('订单详情表单日菜品成交总额与总数透视表前5行5列为：\n',
      PivotDetail.head())



# 代码 4-76
CrossDetail = pd.crosstab(
      index=detail['date'],columns=detail['dishes_name'],
      values = detail['amounts'],
      aggfunc = np.sum,margins = True)
print('订单详情表单日单个菜品成交总额交叉表后5行5列为：\n',
      CrossDetail.iloc[-5:,-5:])

订单详情表单日菜品成交总额与总数透视表前5行5列为：
             amounts  counts
date
2016-08-01     9366     233
2016-08-02     6125     151
2016-08-03     6890     192
2016-08-04     7549     169
2016-08-05     8671     224
订单详情表单日单个菜品成交总额交叉表后5行5列为：
 dishes_name  黄尾袋鼠西拉子红葡萄酒  黄油曲奇饼干  黄花菜炒木耳  黑米恋上葡萄     All
date
2016-08-07           230      32     105      99   31306
2016-08-08            46       0       0      33    6532
2016-08-09           138       0      35      99    7155
2016-08-10            46       0      70      33   10231
All                  736      80     525     561  125992

In [14]:
print('进行转换前订单信息表lock_time的类型为：', 
      order['lock_time'].dtypes)
order['lock_time'] = pd.to_datetime(order['lock_time'])
print('进行转换后订单信息表lock_time的类型为：', 
      order['lock_time'].dtypes)

进行转换前订单信息表lock_time的类型为： object
进行转换后订单信息表lock_time的类型为： datetime64[ns]

In [15]:
print('最小时间为：', pd.Timestamp.min)
print('最大时间为：', pd.Timestamp.max)

最小时间为： 1677-09-21 00:12:43.145225
最大时间为： 2262-04-11 23:47:16.854775807

In [17]:
year1 = [i.year for i in order['lock_time']]
print('lock_time中的年份数据前5个为：',year1[:5])
month1 = [i.month for i in order['lock_time']]
print('lock_time中的月份数据前5个为：',month1[:5])
day1 = [i.day for i in order['lock_time']]
print('lock_time中的日期数据前5个为：',day1[:5])
weekday1 = [i.weekday for i in order['lock_time']]
print('lock_time中的星期名称数据前5个为：',weekday1[:5])

lock_time中的年份数据前5个为： [2016, 2016, 2016, 2016, 2016]
lock_time中的月份数据前5个为： [8, 8, 8, 8, 8]
lock_time中的日期数据前5个为： [1, 1, 1, 1, 1]
lock_time中的星期名称数据前5个为： [<built-in method weekday of Timestamp object at 0x000001E783B12F90>, <built-in method weekday of Timestamp object at 0x000001E783B12F20>, <built-in method weekday of Timestamp object at 0x000001E783B12EB0>, <built-in method weekday of Timestamp object at 0x000001E783B12E40>, <built-in method weekday of Timestamp object at 0x000001E783B12DD0>]